---
import { Icon } from 'astro-icon'

const {
	label = 'Toggle between Dark and Light mode',
	class: className = 'text-black focus:outline-none dark:text-white hover:bg-transparent dark:hover:bg-transparent hover:ring-2 hover:ring-oranged rounded-lg text-sm p-2.5 inline-flex items-center',
	iconClass = 'w-6 h-6',
	iconName = 'tabler:sun',
} = Astro.props
---

<button type="button" class={className} aria-label={label} data-aw-toggle-color-scheme>
	<Icon name={iconName} class={iconClass} />
</button>
