---
import { getHomePermalink } from '~/utils/permalinks'
---

<section class="flex items-center h-full px-5 py-8">
	<div class="container flex flex-col items-center justify-center px-5 mx-auto my-8">
		<div class="max-w-md text-left">
			<h2 class="font-basement font-bold text-9xl">
				<span class="sr-only">Error</span>
				<span class="text-oranged">33°</span>
			</h2>
			<p class="lg:text-4xl font-semibold md:text-3xl font-geistMono text-3xl">You've entering abnormal space</p>
			<p class="mt-4 tracking-wide font-delight mb-8 text-lg text-gray-600 dark:text-slate-400">
				Why show a generic 404 when I can make it sound mysterious? It seems you've found something that used to
				exist, or you spelled something wrong. I'm guessing you spelled something wrong. Can you double check
				that URL?
			</p>
			<a
				rel="noopener font-delight noreferrer prefetch"
				href={getHomePermalink()}
				class="btn font-geistMono px-4 py-2 border-2 font-delight tracking-wide border-oranged text-oranged bg-oranged/30 hover:bg-black/30 dark:bg-oranged/30 dark:hover:bg-black/30"
				>Return Home</a
			>
		</div>
	</div>
</section>
