---
import { Icon } from 'astro-icon'
---

<footer class="border-t font-delight border-black dark:border-white">
	<div class="max-w-6xl x-10 mx-auto px-4 sm:px-6">
		<div class="md:flex md:items-center md:justify-between py-6 md:py-8">
			<ul class="flex mb-4 md:order-1 -ml-2 md:ml-4 md:mb-0">
				<li>
					<a
						class="hover:bg-gray-200 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
						aria-label="Github"
						href="https://github.com/yuxxeun"
					>
						<Icon name="tabler:brand-github" title="github" class="w-6 h-6 text-oranged" />
					</a>
				</li>
				<li>
					<a
						class="hover:bg-gray-200 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
						aria-label="Area 13"
						href="https://github.com/valinatic"
					>
						<Icon name="tabler:cpu" title="Playground" class="w-6 h-6 text-oranged" />
					</a>
				</li>
				<li>
					<a
						class="hover:bg-gray-200 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
						aria-label="Bookmarks"
						href="/bookmark"
					>
						<Icon name="tabler:books" disable title="bookmarks" class="w-6 h-6 text-oranged" />
					</a>
				</li>
				<li>
					<a
						class="hover:bg-gray-200 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
						aria-label="Timeline"
						href="https://poly.work/yuxxeun"
					>
						<Icon name="tabler:flag" title="Timeline" class="w-6 h-6 text-oranged" />
					</a>
				</li>
				<li>
					<a
						class="hover:bg-gray-200 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
						aria-label="RSS"
						href="/rss.xml"
					>
						<Icon name="tabler:rss" title="RSS" class="w-6 h-6 text-oranged" />
					</a>
				</li>
			</ul>
			<div class="text-md uppercase tracking-wide text-black mr-4 dark:text-white">
				the light that comes from downstairs
			</div>
		</div>
	</div>
</footer>
