---
import { Icon } from 'astro-icon'
import IpLocation from '../atoms/IpLocation.svelte'
const quotes = [
	'The light that comes from downstairs',
	'making cool shit that performs',
	'combining intensive technology with design expertise',
]

const randomQuote = quotes[Math.floor(Math.random() * quotes.length)]
---

<footer class="border-t font-geistMono border-black dark:border-white">
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<div class="md:flex md:space-y-0 space-y-2 md:items-center md:justify-between py-4 md:py-8">
			<ul class="flex mb-0 md:order-1 -ml-2 md:ml-4 md:mb-0">
				<li>
					<a
						class="hover:bg-gray-200 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
						aria-label="Github"
						href="https://github.com/yuxxeun"
					>
						<Icon name="tabler:brand-github" title="Github" class="w-6 h-6 text-oranged" />
					</a>
				</li>
				<li>
					<a
						class="hover:bg-gray-200 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
						aria-label="Bookmarky"
						href="/bookmark"
					>
						<Icon name="tabler:books" disable title="Bookmarky" class="w-6 h-6 text-oranged" />
					</a>
				</li>
				<li>
					<a
						class="hover:bg-gray-200 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
						aria-label="Colophon"
						href="/colophon"
					>
						<Icon name="tabler:brush" disable title="Colophon" class="w-6 h-6 text-oranged" />
					</a>
				</li>
				<li>
					<a
						class="hover:bg-gray-200 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
						aria-label="Journey"
						href="https://polywork.yuxxeun.tech"
					>
						<Icon name="tabler:3d-cube-sphere" title="Journey" class="w-6 h-6 text-oranged" />
					</a>
				</li>
				<li>
					<a
						class="hover:bg-gray-200 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
						aria-label="RSS"
						href="/secreto"
					>
						<Icon name="tabler:paw" title="Secreto" class="w-6 h-6 text-oranged" />
					</a>
				</li>
			</ul>
			<div class="text-md tracking-wide text-black mr-4 dark:text-white">
				<IpLocation client:load />
			</div>
		</div>
	</div>
</footer>

<script>
	import $ from 'jquery'

	var Messenger = function (el) {
		'use strict'
		var m = this

		m.init = function () {
			m.codeletters = '&#*+%?£@§$'
			m.message = 0
			m.current_length = 0
			m.fadeBuffer = false
			m.messages = [
				'unwrap the magic.',
				'Something Strong.',
				'Something Resilience.',
				'Thank you for coming!',
				'Of course, I can do that!',
				'Designing ✦ polished interfaces.',
				'Jack of all trades.',
				'Cool.',
			]
			setTimeout(m.animateIn, 100)
		}

		m.generateRandomString = function (length) {
			var random_text = ''
			while (random_text.length < length) {
				random_text += m.codeletters.charAt(Math.floor(Math.random() * m.codeletters.length))
			}

			return random_text
		}

		m.animateIn = function () {
			if (m.current_length < m.messages[m.message].length) {
				m.current_length = m.current_length + 2
				if (m.current_length > m.messages[m.message].length) {
					m.current_length = m.messages[m.message].length
				}

				var message = m.generateRandomString(m.current_length)
				$(el).html(message)

				setTimeout(m.animateIn, 20)
			} else {
				setTimeout(m.animateFadeBuffer, 20)
			}
		}

		m.animateFadeBuffer = function () {
			if (m.fadeBuffer === false) {
				m.fadeBuffer = []
				for (var i = 0; i < m.messages[m.message].length; i++) {
					m.fadeBuffer.push({ c: Math.floor(Math.random() * 12) + 1, l: m.messages[m.message].charAt(i) })
				}
			}

			var do_cycles = false
			var message = ''

			for (var i = 0; i < m.fadeBuffer.length; i++) {
				var fader = m.fadeBuffer[i]
				if (fader.c > 0) {
					do_cycles = true
					fader.c--
					message += m.codeletters.charAt(Math.floor(Math.random() * m.codeletters.length))
				} else {
					message += fader.l
				}
			}

			$(el).html(message)

			if (do_cycles === true) {
				setTimeout(m.animateFadeBuffer, 50)
			} else {
				setTimeout(m.cycleText, 2000)
			}
		}

		m.cycleText = function () {
			m.message = m.message + 1
			if (m.message >= m.messages.length) {
				m.message = 0
			}

			m.current_length = 0
			m.fadeBuffer = false
			$(el).html('')

			setTimeout(m.animateIn, 200)
		}

		m.init()
	}

	console.clear()
	var messenger = new Messenger($('#messenger'))
</script>
