---
import { Icon } from 'astro-icon'
import { getHomePermalink } from '~/utils/permalinks'
---

<footer class="border-t font-delight border-black dark:border-white">
	<div class="max-w-6xl x-10 mx-auto px-4 sm:px-6">
		<div class="md:flex md:items-center md:justify-between py-6 md:py-8">
			<ul class="flex mb-4 md:order-1 -ml-2 md:ml-4 md:mb-0">
				<li>
					<a
						class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
						aria-label="Github"
						href="https://github.com/yuxxeun/"
					>
						<Icon name="tabler:brand-github" title="github" class="w-5 h-5 text-orange-600" />
					</a>
				</li>
				<li>
					<a
						class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
						aria-label="Saweria"
						href="https://saweria.co/yuxxeun"
					>
						<Icon name="tabler:wallet" title="donasi" class="w-5 h-5 text-orange-600" />
					</a>
				</li>
				<li>
					<a
						class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
						aria-label="Bookmarks"
						href="https://bsmnt.now.sh/"
					>
						<Icon name="tabler:bookmarks" disable title="bookmarks" class="w-5 h-5 text-orange-600" />
					</a>
				</li>
				<li>
					<a
						class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
						aria-label="Secreto"
						href="https://bsmnt.vercel.app/secreto"
					>
						<Icon
							name="tabler:message-dots"
							disable
							title="Send random message"
							class="w-5 h-5 text-orange-600"
						/>
					</a>
				</li>
				<li>
					<a
						class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
						aria-label="RSS"
						href="/rss.xml"
					>
						<Icon name="tabler:rss" title="RSS" class="w-5 h-5 text-orange-600" />
					</a>
				</li>
			</ul>
			<div class="text-md uppercase tracking-wide text-black mr-4 dark:text-white">
				the light that comes from downstairs
			</div>
		</div>
	</div>
</footer>
