---
import Logo from '~/components/atoms/Logo.astro'
import ToggleTheme from '~/components/core/ToggleTheme.astro'
import ToggleMenu from '~/components/core/ToggleMenu.astro'

import { getPermalink, getBlogPermalink, getHomePermalink } from '~/utils/permalinks'
---

<header
	class="sticky sm:sticky border-oranged top-0 z-40 flex-none mx-auto w-full bg-white/30 backdrop-blur-lg md:bg-white/30 dark:bg-black/30 dark:md:bg-black/30 md:backdrop-blur-md dark:border-b dark:border-white dark:border-b-0"
	id="header"
>
	<div class="py-3 px-3 mx-auto w-full md:flex md:justify-between max-w-6xl md:px-4">
		<div class="flex justify-between">
			<a class="flex text-2xl font-bold items-center" href={getHomePermalink()}>
				<Logo />
			</a>
			<div class="flex items-center md:hidden">
				<ToggleTheme />
				<ToggleMenu />
			</div>
		</div>
		<nav
			class="items-center hidden uppercase font-display tracking-wide w-full md:w-auto md:h-auto md:flex text-black dark:text-white h-screen"
			aria-label="Main navigation"
		>
			<ul class="flex flex-col pt-8 md:pt-0 md:flex-row md:self-center w-full md:w-auto text-xl md:text-base">
				<li class="hover:ease-in-out hover:duration-150">
					<a
						class="px-4 py-3 flex hover:text-oranged items-center transition duration-150 ease-in-out"
						href={getPermalink('/')}>home</a
					>
				</li>
				<li class="hover:ease-in-out hover:duration-150">
					<a
						class="px-4 py-3 flex hover:text-oranged items-center transition duration-150 ease-in-linear"
						rel="prefetch"
						href={getBlogPermalink()}>laboratory</a
					>
				</li>
				<li class="md:hidden">
					<a
						class="hover:text-oranged px-4 py-3 flex items-center transition duration-150 ease-in-out"
						rel="prefetch"
						href="https://github.com/yuxxeun"
						>github
					</a>
				</li>
			</ul>
			<div class="md:self-center flex items-center mb-4 md:mb-0 ml-2">
				<div class="hidden items-center md:flex">
					<ToggleTheme iconClass="w-5 h-5" />
				</div>
			</div>
		</nav>
	</div>
</header>
