---
import Picture from '~/components/core/Picture.astro'
---

<section>
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-12 md:py-20">
			<div>
				<div class="relative mb-5 m-auto max-w-xs p-3">
					<Picture
						onclick="{alert('thank you for coming, but hey, hows your day?')}"
						src={import('public/krido.jpg')}
						class="mx-auto grayscale cursor-pointer p-1 rounded-full shadow-lg bg-white dark:bg-black w-full"
						widths={[400, 768]}
						sizes=" (max-width: 767px) 400px, 768px"
						alt="yuxxeun cute avatar"
						loading="lazy"
						aspectRatio="1:1"
					/>
				</div>
			</div>
			<div class="text-center pb-10 md:pb-16">
				<h1
					class="text-4xl uppercase font-display text-oranged md:text-[3.50rem] leading-tighter tracking-tighter mb-1 md:mb-2 font-heading"
				>
					yuxxeun
				</h1>
				<div class="max-w-3xl mx-auto">
					<p class="lg:text-xl text-lg uppercase tracking-tight text-black font-delight mb-8 dark:text-white">
				           constantly challenging my standards.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
