---
import { Icon } from 'astro-icon';
import Picture from '~/components/core/Picture.astro';

const story = () => {
	return 'hello';
};
---

<section>
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-12 md:py-20">
			<div>
				<div class="relative mb-5 m-auto max-w-xs p-3">
					<Picture
						onclick="{alert('not currently implemented but seems promising, right?')}"
						src={import('/public/krido.jpg')}
						class="mx-auto grayscale cursor-pointer p-1 rounded-full shadow-lg bg-white dark:bg-black w-full"
						widths={[400, 768]}
						sizes=" (max-width: 767px) 400px, 768px"
						alt="yuxxeun cute avatar"
						loading="lazy"
						aspectRatio="1:1"
					/>
				</div>
			</div>
			<div class="text-center pb-10 md:pb-16">
				<h1
					class="text-4xl uppercase font-display text-orange-600 md:text-[3.50rem] leading-tighter tracking-tighter mb-4 font-heading"
				>
					yuxxeun
				</h1>
				<div class="max-w-3xl mx-auto">
					<p class="text-xl uppercase tracking-wide text-black font-delight mb-8 dark:text-white">
						making cool shit that performs
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
