<script>
	window.addEventListener('load', function () {
		var loader = document.getElementById('loading-screen')
		var content = document.getElementById('content')
		document.body.style.overflow = 'auto'

		setTimeout(function () {
			loader.style.transform = 'translateY(-100%)'
			setTimeout(function () {
				loader.style.display = 'none'
				content.classList.remove('hidden')
				document.body.style.overflow = 'auto'
			}, 1000)
		}, 3000)
	})
</script>

<div id="loading-screen">
	<div class="loader"></div>
</div>

<style>
	#loading-screen {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #000000;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 9999;
		transition: transform 1s ease-out;
		transform: translateY(0);
		overflow: hidden;
	}

	.hidden {
		display: none;
	}

	.loader {
		width: 120px;
		height: 120px;
		animation: spin 2s linear infinite;
		background-image: linear-gradient(45deg, #3498db, #e74c3c);
		border-radius: 50%;
		overflow: hidden;
	}

	@keyframes spin {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
</style>
