---
import PageLayout from '~/layouts/PageLayout.astro'
import Bookmark from '~/components/widgets/Bookmark.svelte'

import { getCanonical, getPermalink, BLOG_BASE } from '~/utils/permalinks'
import { SITE } from '~/config.mjs'

const meta = {
	title: `Bookmark — ${SITE.name}`,
	description: SITE.description,
	ogType: 'Bookmark',
}
---

<PageLayout {meta}>
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<Bookmark client:load />
	</div>
</PageLayout>
