---
import PageLayout from '~/layouts/PageLayout.astro'
import { SITE } from '~/config.mjs'
import NowPlaying from '~/components/widgets/NowPlaying.svelte';

const meta = {
	title: `Secreto`,
	description: SITE.description,
	ogType: 'Secreto',
}
---

<PageLayout {meta}>
	<div class="max-w-6xl mb-10 mx-auto px-4 sm:px-6">
		<NowPlaying client:load />
	</div>
</PageLayout>
