---
import PageLayout from '~/layouts/PageLayout.astro'
import Secreto from '~/components/widgets/Secreto.svelte'
import { SITE } from '~/config.mjs'

const meta = {
	title: `Secreto`,
	description: SITE.description,
	ogType: 'Secreto',
}
---

<PageLayout {meta}>
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<Secreto client:load />
	</div>
</PageLayout>
