---
import { SITE } from '~/config.mjs'
---

<span
	class="self-center ml-2 text-2xl text-gray-900 hover:text-oranged dark:hover:text-oranged whitespace-nowrap font-basement hover:ease-in-out hover:duration-150 transition duration-150 ease-in-linear tracking-normal dark:text-white"
	>{`${SITE.brand}`}
</span>
