---
import { SITE } from '~/config.mjs'
const { post } = Astro.props
---

<span
	class="self-center ml-2 text-2xl text-gray-900 hover:text-oranged dark:hover:text-oranged whitespace-nowrap font-delight hover:ease-in-out hover:duration-150 transition duration-150 ease-in-linear tracking-tighter dark:text-white"
	>{`${SITE.brand}`}
</span>
