@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'BasementGrotesque-Black';
	src: url('/fonts/Basement/BasementGrotesque-Black.woff2') format('woff2');
	font-weight: 900;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'BasementGrotesque-Display';
	src: url('/fonts/Basement/BasementGrotesque-Display.woff2') format('woff2');
	font-weight: 900;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'SpaceMono-Regular';
	src: url('/fonts/Space/SpaceMono-Regular.woff2') format('woff2');
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Inter-Regular';
	src: url('/fonts/Inter/Inter-Regular.woff2') format('woff2');
	font-weight: 900;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Neue-Montreal-Medium';
	src: url('/fonts/Neue/Neue-Montreal-Medium.woff2') format('woff2');
	font-weight: 900;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Neue-Montreal-Regular-400';
	src: url('/fonts/Neue/Neue-Montreal-Regular-400.woff2') format('woff2');
	font-weight: 900;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'SpaceGrotesk-Medium';
	src: url('/fonts/Grotesk/SpaceGrotesk-Medium.woff2') format('woff2');
	font-weight: 900;
	font-display: swap;
	font-style: normal;
}

@layer components {
	.btn {
		@apply inline-flex items-center justify-center rounded border border-transparent py-3 px-6 text-center text-base font-medium leading-snug shadow-lg transition duration-200 ease-in;
	}
}

[astro-icon] > * {
	stroke-width: 1.5;
}

[astro-icon].icon-bold > * {
	stroke-width: 2;
}

[data-aw-toggle-menu] path {
	@apply transition;
}
[data-aw-toggle-menu].expanded g > path:first-child {
	@apply translate-y-[15px] translate-x-[-3px] -rotate-45;
}

[data-aw-toggle-menu].expanded g > path:last-child {
	@apply translate-y-[-8px] translate-x-[14px] rotate-45;
}

:root {
	/* user-select: none; */
}

::selection {
	background-color: orangered;
	color: black;
}

Fragment > a {
	color: orangered !important;
}

article {
	font-family: 'space mono', sans-serif;
}

[fragment] > a {
	color: orangered !important;
}

* > *:hover {
	cursor: crosshair;
	cursor: revert-layers;
}

@keyframes wave {
	0% {
		transform: scaleX(1);
	}

	50% {
		transform: scaleX(1.1);
	}

	100% {
		transform: scaleX(1);
	}
}

.hover\:animate-pulse:hover {
	animation-name: wave;

	animation-duration: 1s;

	animation-iteration-count: infinite;

	transform-origin: center;
}


