---
import '~/assets/styles/base.css'
import { inject } from '@vercel/analytics'
import MetaTags from '~/components/core/MetaTags.astro'
import BasicScripts from '~/components/core/BasicScripts.astro'
import CustomCursor from '~/components/atoms/CustomCursor.svelte'
import Loading from '~/components/widgets/Loading.astro'
import SpeedInsights from '@vercel/speed-insights/astro'
inject()
const { meta = {} } = Astro.props
---

<script>
	let pageTitle = document.title
	const attentionMessage = 'I Miss You 🥲'
	let isPageActive = true

	document.addEventListener('visibilitychange', function () {
		if (document.hidden) {
			isPageActive = false
			setTimeout(changeTitle, 2000)
		} else {
			isPageActive = true
			document.title = pageTitle
		}
	})

	function changeTitle() {
		if (!isPageActive) {
			document.title = attentionMessage
		}
	}
</script>

<script>
	import Lenis from '@studio-freight/lenis'
	const lenis = new Lenis({
		duration: 1.2,
		easing: (t) => (t === 1 ? 1 : 1 - Math.pow(2, -10 * t)),
		orientation: 'vertical',
		gestureOrientation: 'vertical',
		smoothWheel: true,
		smoothTouch: false,
		syncTouch: false,
		touchMultiplier: 2,
	})

	function raf(time) {
		lenis.raf(time)
		requestAnimationFrame(raf)
	}

	requestAnimationFrame(raf)
</script>

<html lang="en" class="2xl:text-[20px]">
	<head>
		<MetaTags {...meta} />
	</head>
	<body class="subpixel-antialiased text-white dark:text-slate-300 tracking-tight dark dark:bg-black">
		<Loading />
		<CustomCursor />
		<slot />
		<SpeedInsights />
		<BasicScripts />
		<style is:global>
			img {
				content-visibility: auto;
			}
		</style>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	</body>
</html>
